* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,
html {
    overflow-x: hidden;
    font-family: 'Chakra Petch', sans-serif;
    min-height: 100vh;
    /* background-color: #f5f5f5; */
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    display: flex;
    flex-direction: column;
}


.navbar-nav a {
    font-size: 15px;
}

.card-body a {
    transition: transform .2s;
}

.card-body a:hover {
    transform: scale(1.15);
}

.card img {
    padding: 20px;
}

.card {
    margin: 5px;
}

.reg-info {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.70;
    font-size: 1.10rem;
}

footer .lead {
    font-size: 17px;
}

@media only screen and (max-width: 576px) {
    footer .lead {
        margin-top: 10px;
        float: left;
    }

}